<!-- <pharbers-home {{on "linkToPage" linkToPage}} {{on "downloadReport" downloadReport}} {{on "toActivityPage" toActivityPage}} {{did-insert this.transferData}} ></pharbers-home> -->
<div {{did-insert this.transferData}} {{did-update this.didupdate @abcde}}>
	<pharbers-home {{on "linkToPage" linkToPage}} {{on "downloadReport" downloadReport}} {{on "toActivityPage" toActivityPage}} allData={{@allData}} ></pharbers-home>
</div>