<div class="content">
    {{!-- <h1>Web components inside Ember</h1> --}}
    <div class="ember">
        {{!-- <h2>Ember shell context</h2> --}}
        {{!-- <div class="react">
            <h2>React context</h2>
            <react-example-components
                {{did-insert this.registerListener}}
                {{will-destroy this.unregisterListener}} >
            </react-example-components>
        </div>
        <div class="react">
            <h2>Ember context</h2>
            <example-web-component componenttitle="alfred"
                {{did-insert this.registerListener}}
                {{will-destroy this.unregisterListener}} >
            </example-web-component>
        </div> --}}
        <div class="react">
            {{!-- <h2>Vue context</h2>
            <h1>{{t "nav.productAndService"}}</h1>
            <pharbers-bp-input states="info" placeholder="测试">
            </pharbers-bp-input>
            <pharbers-bp-button text="{{buttonText}}" src="assets/abord.svg"
                {{did-insert this.registerListener}}
                {{will-destroy this.unregisterListener}} >
            </pharbers-bp-button>
            <pharbers-bp-img src="https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png" text="alfred test"
                {{did-insert this.registerListener}}
                {{will-destroy this.unregisterListener}} >
            </pharbers-bp-img>
            <pharbers-bp-label text=arr 
                {{did-insert this.registerListener}}
                {{will-destroy this.unregisterListener}}></pharbers-bp-label>
            <pharbers-bp-link text="测试link" 
                {{did-insert this.registerListener}}
                {{will-destroy this.unregisterListener}}>
            </pharbers-bp-link>
            <pharbers-bp-text title="bp-text test">
                这里是bp-text
            </pharbers-bp-text>
            <h1>vue menu</h1>
            <pharbers-bp-menu menu_data={{this.menu_data}} {{did-insert this.transferMenuData}}></pharbers-bp-menu>

            <h1>vue select option</h1>
            <pharbers-bp-select choosed_value={{this.choosed_value}} options_data={{this.options_data}} {{did-insert this.transferData}}></pharbers-bp-select>
            <pharbers-bp-status text="这是status" type="in-progress" subtle
                {{did-insert this.registerListener}}
                {{will-destroy this.unregisterListener}}>
            </pharbers-bp-status>
            <pharbers-bp-tag text={{this.tag}} type="teals" subtle
                {{did-insert this.registerListener}}
                {{will-destroy this.unregisterListener}}>
            </pharbers-bp-tag>
            <pharbers-bp-badge result="100" primary
                {{did-insert this.registerListener}}
                {{will-destroy this.unregisterListener}}>
            </pharbers-bp-badge>
            <pharbers-bp-button-group
                buttonArr={{this.bpButtonGroupdata}}
                {{did-insert this.registerListener}}
                {{will-destroy this.unregisterListener}}>
            </pharbers-bp-button-group>
            <div style="width: 1300px">
                <pharbers-bp-carousel-unit 
                    height="600px"
                    autoplay
                    itemArr={{this.itemArr}}
                    {{did-insert this.registerListener}}
                    {{will-destroy this.unregisterListener}}>
                </pharbers-bp-carousel-unit>
            </div>
            <h1>vue home page</h1> --}}
             <pharbers-home>
            </pharbers-home>
        </div>
    </div>
</div>
