<div class="content">
    {{!-- <h1>Web components inside Ember</h1> --}}
    <div class="ember">
        {{!-- <h2>Ember shell context</h2> --}}
        {{!-- <div class="react">
            <h2>React context</h2>
            <react-example-components
                {{did-insert this.registerListener}}
                {{will-destroy this.unregisterListener}} >
            </react-example-components>
        </div>
        <div class="react">
            <h2>Ember context</h2>
            <example-web-component componenttitle="alfred"
                {{did-insert this.registerListener}}
                {{will-destroy this.unregisterListener}} >
            </example-web-component>
        </div> --}}
        <div class="react">
            <h2>Vue context</h2>
            <pharbers-bp-input states="info" placeholder="测试">
            </pharbers-bp-input>
            <pharbers-bp-button text="alfred test"
                {{did-insert this.registerListener}}
                {{will-destroy this.unregisterListener}} >
            </pharbers-bp-button>
            <pharbers-bp-img src="https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png" text="alfred test"
                {{did-insert this.registerListener}}
                {{will-destroy this.unregisterListener}} >
            </pharbers-bp-img>
            <pharbers-bp-label text="测试label" 
                {{did-insert this.registerListener}}
                {{will-destroy this.unregisterListener}}></pharbers-bp-label>
            <pharbers-bp-link text="测试link" 
                {{did-insert this.registerListener}}
                {{will-destroy this.unregisterListener}}>
            </pharbers-bp-link>
            <pharbers-bp-text title="bp-text test">
                这里是bp-text
            </pharbers-bp-text>
            <h1>vue menu</h1>
            <pharbers-bp-menu>
                <pharbers-bp-menu-item text="bp-menu-item"></pharbers-bp-menu-item>
                <pharbers-bp-sub-menu text="bp-sub-menu">
                    <pharbers-bp-menu-item text="bp-menu-item"></pharbers-bp-menu-item>
                </pharbers-bp-sub-menu>
            </pharbers-bp-menu>

            <h1>vue select option</h1>
            <pharbers-bp-select choosedValue={{curLanguage}}>
                <pharbers-bp-option text="中文" onClick={{action changeLanguage}} choosedValue={{curLanguage}}></pharbers-bp-option>
                <pharbers-bp-option text="English" onClick={{action changeLanguage}} choosedValue={{curLanguage}}></pharbers-bp-option>
                <pharbers-bp-option text="韩文" onClick={{action changeLanguage}} choosedValue={{curLanguage}}></pharbers-bp-option>
            </pharbers-bp-select>
        </div>
    </div>
</div>
