<ph-analyze-bp-nav-top-max
	allData={{@model}}
    {{did-insert this.registerListener}}
    {{will-destroy this.unregisterListener}}>
</ph-analyze-bp-nav-top-max>
<div class="header" style="height: 48px; background: #fff;display: flex; align-items: center; padding: 0 20px;">
	<img src="https://s3.cn-northwest-1.amazonaws.com.cn/general.pharbers.com/Database.svg" style="width: 24px; height: 24px; margin-right: 10px" alt="">
	<span>{{dataset.datasetName}}</span>
</div>
<div class="area" style="margin: 20px;">
	路径：{{dataset.path}}
</div>